.card {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/LikeBTN.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  filter: brightness(0) saturate(100%);
  cursor: pointer;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
