.profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: auto;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0px;
  height: 190px;
}

.profile__edit-btn {
  background: none;
  border: none;
  font-weight: 500;
  size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 0;
  font: "Poppins, sans-serif";
  color: #212121;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start;
}

.profile__edit-btn:hover {
  opacity: 70%;
  transition: opacity 0.3s ease;
}

.profile__name {
  margin: 0 0 12px 0;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  margin-bottom: 0;
  color: #212121b2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 100%;
  size: 16px;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__add-btn {
  margin-left: auto;
  transition: background-color 0.3s ease;
  width: 149px;
  height: 52px;
  padding: 0 32px;
  gap: 8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font: inherit;
  white-space: nowrap;
  align-self: end;
}

.profile__add-btn:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0 0 12px 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px 0;
    max-width: 288px;
    white-space: nowrap;
  }

  .profile__description {
    margin: 0 0 20px 0;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .profile__edit-btn {
  }

  .profile__add-btn {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}
