.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  align-items: flex-end;
  justify-content: space-between; /* Push name/desc to top, button to bottom */
  height: 200px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: space-between;
  height: 100%;
}

.profile__edit-btn {
  margin-top: auto;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 0 32px;
  gap: 8px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font: inherit;
  flex-direction: row;
  white-space: nowrap;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }
  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    max-width: 100%;
  }
}
